body{
    background-color: aqua;
    margin: 0;
    font-family: helvetica;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}

.table-container{
    width: 100%;
}

.tittle{
    text-align: center;
    background-color: rgb(255, 0, 21);
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    min-width: 230px;
}

hr {
    margin: 0; 
    border: solid 1px rgb(255, 0, 21); 
}

.profile{
    width: 50%;
}

.profile img{
    width: 170px;
    float: left;
    margin-right: 15px;
}

td{
    vertical-align: top;
    padding: 15px; 
}

.skill .content{
    background-color: aliceblue;
    color: grey;
    padding: 15px;
    border-radius: 4%;

}

.skill ul{
    margin: 0;
    list-style: none;
}

.skill li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:solid 1px grey;
}

.skill .level{
    background-color: rgb(255, 0, 21);
    color: aliceblue;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

.tabel{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: red;
    padding: 10px 15px;
}

td{
    padding: 10px 15px;
}

.tabel tr:nth-child(even){
    background-color: white;
}

.tabel tr:nth-child(odd){
    background-color: grey;
}